body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5FB9E4;
    background-image: url('imagens/cabecalho.jpg');
    background-size: 100% auto;
    /* Ajusta a imagem para cobrir toda a largura e altura da tela */
    background-repeat: no-repeat;
    background-position: top;
    color: whitesmoke;
}


header {
    text-align: center;
    padding: 2em 0;
    /* Estilo de borda no texto do cabeçalho */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    background-color: #2C46A7;
    background-position: center;
    color: white;
    width: 48%;
    height: 20%;
    padding: 15px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 5px;
    border-radius: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-image {
    width: 70%;
    height: 55%;
    margin-bottom: 1px;
    border-radius: 5px;
}

.product-card {
    max-width: 210px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #2C46A7;
    text-align: center;
    cursor: pointer;
    background-color: #2C46A7;
    margin-left: 20px;
    border-radius: 15px;
}

.benefits-card {
    background-color: #2C46A7;
    background-position: center;
    color: white;
    width: 48%;
    height: 20%;
    padding: 15px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 5px;
    border-radius: 25px;
}

.benefits-content {
    text-align: center;
}

/* Outros estilos */

/* Estilos para o card de desconto promocional */
.discount-card {
    background-color: #2C46A7;
    background-position: center;
    width: 50%;
    height: 50%;
    color: white;
    margin-left: 300px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 25px;
    display: none;
    /* Escondido por padrão até que um produto seja selecionado */
}

.discount-content {
    text-align: center;
}

footer {
    background-color: #2C46A7;
    width: 50px cover;
    height: 50px cover;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 25px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-section {
    text-align: center;
}

.footer-section-inner {
    max-width: 200px;
    margin: 0 auto;
    text-align: left;
}

/* Estilo para dispositivos menores */
@media screen and (max-width: 800px) {
    .product-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .product-card {
        width: calc(100% - 20px);
    }
}